# 10 phút học Pandas cơ bản

In [1]:
# Cài đặt thư viện
# !pip install pandas

In [2]:
import pandas as pd

### Đọc dữ liệu

In [3]:
data_path = "../../data/preprocessed/store_eng.csv"
df_store = pd.read_csv(data_path)

### Kiểm tra dữ liệu

In [4]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_cd       53 non-null     object
 1   store_name     53 non-null     object
 2   prefecture_cd  53 non-null     int64
 3   prefecture     53 non-null     object
 4   address        53 non-null     object
 5   tel_no         53 non-null     object
 6   longitude      53 non-null     float64
 7   latitude       53 non-null     float64
 8   floor_area     53 non-null     float64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ KB

In [5]:
display(df_store.head())
display(df_store.tail())

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
1,S13002,Kokubunji Temple,13,Tokyo,"Honda 2-chome, Kokubunji City, Tokyo",042-123-4008,139.4802,35.70566,1735.0
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
48,S13003,Komae store,13,Tokyo,"Komae City, Tokyo Izumi Honcho 4-chome",03-0123-4009,139.5668,35.64462,1529.0
49,S12053,Takasu store,12,Chiba prefecture,"Takasu 5-chome, Urayasu City, Chiba Prefecture",047-123-4006,139.9176,35.63755,1555.0
50,S13037,Minamisuna 1 -chome store,13,Tokyo,"Koto-ku, Tokyo Minamisuna 1-chome",03-0123-4023,139.8215,35.67898,814.0
51,S14024,Mita store,14,Kanagawa Prefecture,"Mita 4-chome, Tama-ku, Kawasaki City, Kanagawa...",044-123-4038,139.5424,35.60770,972.0
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

In [6]:
df_store.index

RangeIndex(start=0, stop=53, step=1)

In [7]:
df_store.describe()

       prefecture_cd   longitude   latitude   floor_area
count      53.000000   53.000000  53.000000    53.000000
mean       13.320755  139.638681  35.586414  1273.433962
std         0.672927    0.181326   0.118102   348.459164
min        12.000000  139.312900  35.296420   801.000000
25%        13.000000  139.499400  35.535730   980.000000
50%        13.000000  139.631600  35.607700  1220.000000
75%        14.000000  139.713200  35.676160  1555.000000
max        14.000000  140.145200  35.768850  1895.000000

In [8]:
df_store.describe(include="object")

,store_cd,store_name,prefecture,address,tel_no
count,53,53,53,53,53
unique,53,52,3,52,53
top,S12014,Naka -Rokugo store,Tokyo,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",043-123-4003
freq,1,2,24,2,1

In [9]:
df_store["prefecture"].value_counts()

prefecture
Tokyo                  24
Kanagawa Prefecture    23
Chiba prefecture        6
Name: count, dtype: int64

### Lựa chọn cột, trích xuất dữ liệu

In [10]:
df_store["store_name"][:5]

0            Chigakadai store
1            Kokubunji Temple
2                Kikuna store
3                 Akuwa store
4    Sagamihara Central Store
Name: store_name, dtype: object

In [11]:
df_store["prefecture"][:5]

0       Chiba prefecture
1                  Tokyo
2    Kanagawa Prefecture
3    Kanagawa Prefecture
4    Kanagawa Prefecture
Name: prefecture, dtype: object

In [12]:
df_store[0:3]

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
1,S13002,Kokubunji Temple,13,Tokyo,"Honda 2-chome, Kokubunji City, Tokyo",042-123-4008,139.4802,35.70566,1735.0
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0

In [13]:
# Lựa chọn theo nhãn
display(df_store.loc[:3, "store_name"])
display(df_store.loc[:3, ["store_cd", "store_name"]])

0    Chigakadai store
1    Kokubunji Temple
2        Kikuna store
3         Akuwa store
Name: store_name, dtype: object

  store_cd        store_name
0   S12014  Chigakadai store
1   S13002  Kokubunji Temple
2   S14010      Kikuna store
3   S14033       Akuwa store

In [14]:
# Lựa chọn theo index của nhãn
display(df_store.iloc[:3, 1])
display(df_store.iloc[:3, [0,1]])

0    Chigakadai store
1    Kokubunji Temple
2        Kikuna store
Name: store_name, dtype: object

  store_cd        store_name
0   S12014  Chigakadai store
1   S13002  Kokubunji Temple
2   S14010      Kikuna store

In [15]:
print(df_store.at[0, "store_name"])
print(df_store.at[2, "store_name"])

Chigakadai store
Kikuna store

In [16]:
# Lấy theo chỉ mục so sánh
display(df_store[df_store["prefecture_cd"] >= 14])

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
19,S14022,Zushi store,14,Kanagawa Prefecture,"Zushi 1-chome, Zushi City, Kanagawa Prefecture",046-123-4036,139.5789,35.29642,1838.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0
22,S14034,Kawasaki Nogawa store,14,Kanagawa Prefecture,"Nogawa, Miyamae-ku, Kawasaki City, Kanagawa Pr...",044-123-4044,139.5998,35.57693,1318.0
26,S14048,Nakagawa Chuo store,14,Kanagawa Prefecture,"2-chome Nakagawa Chuo 2-chome, Tsuzuki-ku, Yok...",045-123-4051,139.5758,35.54912,1657.0
28,S14026,Tsujido west coast store,14,Kanagawa Prefecture,"2-chome, Tsujido, Fujisawa City, Kanagawa Pref...",046-123-4040,139.4466,35.32464,1732.0
31,S14049,Kawasaki Daishi store,14,Kanagawa Prefecture,"Nakase Sanchome, Kawasaki-ku, Kawasaki City, K...",044-123-4052,139.7327,35.53759,962.0
32,S14023,Kawasaki store,14,Kanagawa Prefecture,"2-chome Honmachi, Kawasaki-ku, Kawasaki-shi, K...",044-123-4037,139.7028,35.53599,1804.0
35,S14027,Minami -Fujizawa store,14,Kanagawa Prefecture,"Minami Fujisawa, Fujisawa City, Kanagawa Prefe...",046-123-4041,139.4896,35.33762,1521.0
36,S14021,Isehara store,14,Kanagawa Prefecture,"Isehara 4-chome, Isehara City, Kanagawa Prefec...",046-123-4035,139.3129,35.40169,962.0
37,S14047,Sagamihara store,14,Kanagawa Prefecture,"6-chome, Chiyoda, Sagamihara City, Kanagawa Pr...",042-123-4050,139.3748,35.55959,1047.0
40,S14042,Niiyama Shinto store,14,Kanagawa Prefecture,"Shinyamashita 2-chome, Naka-ku, Yokohama-shi, ...",045-123-4047,139.6593,35.43894,1044.0
44,S14025,Yamato store,14,Kanagawa Prefecture,"Shimwada, Yamato City, Kanagawa Prefecture",046-123-4039,139.4680,35.43414,1011.0
45,S14045,Atsugi store,14,Kanagawa Prefecture,"2-chome Nakamachi, Atsugi City, Kanagawa Prefe...",046-123-4048,139.3651,35.44182,980.0
51,S14024,Mita store,14,Kanagawa Prefecture,"Mita 4-chome, Tama-ku, Kawasaki City, Kanagawa...",044-123-4038,139.5424,35.60770,972.0
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

In [17]:
# Sử dụng .query() method
df_store.query("prefecture_cd == 12")

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
27,S12007,Sakura store,12,Chiba prefecture,"Kamishizu, Sakura City, Chiba Prefecture",043-123-4001,140.1452,35.71872,1895.0
38,S12013,Narashino store,12,Chiba prefecture,"1-chome Shibaen, Narashino City, Chiba Prefecture",047-123-4002,140.0220,35.66122,808.0
42,S12030,Yawata store,12,Chiba prefecture,"Yawata 3-chome, Ichikawa City, Chiba Prefecture",047-123-4005,139.9240,35.72318,1162.0
47,S12029,Higashino store,12,Chiba prefecture,"1-chome Higashino, Urayasu City, Chiba Prefecture",047-123-4004,139.8968,35.65086,1101.0
49,S12053,Takasu store,12,Chiba prefecture,"Takasu 5-chome, Urayasu City, Chiba Prefecture",047-123-4006,139.9176,35.63755,1555.0

In [18]:
# Sử dụng isin()
df_store[df_store["prefecture"].isin(["Chiba prefecture", "Kanagawa Prefecture"])]

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
19,S14022,Zushi store,14,Kanagawa Prefecture,"Zushi 1-chome, Zushi City, Kanagawa Prefecture",046-123-4036,139.5789,35.29642,1838.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0
22,S14034,Kawasaki Nogawa store,14,Kanagawa Prefecture,"Nogawa, Miyamae-ku, Kawasaki City, Kanagawa Pr...",044-123-4044,139.5998,35.57693,1318.0
26,S14048,Nakagawa Chuo store,14,Kanagawa Prefecture,"2-chome Nakagawa Chuo 2-chome, Tsuzuki-ku, Yok...",045-123-4051,139.5758,35.54912,1657.0
27,S12007,Sakura store,12,Chiba prefecture,"Kamishizu, Sakura City, Chiba Prefecture",043-123-4001,140.1452,35.71872,1895.0
28,S14026,Tsujido west coast store,14,Kanagawa Prefecture,"2-chome, Tsujido, Fujisawa City, Kanagawa Pref...",046-123-4040,139.4466,35.32464,1732.0
31,S14049,Kawasaki Daishi store,14,Kanagawa Prefecture,"Nakase Sanchome, Kawasaki-ku, Kawasaki City, K...",044-123-4052,139.7327,35.53759,962.0
32,S14023,Kawasaki store,14,Kanagawa Prefecture,"2-chome Honmachi, Kawasaki-ku, Kawasaki-shi, K...",044-123-4037,139.7028,35.53599,1804.0
35,S14027,Minami -Fujizawa store,14,Kanagawa Prefecture,"Minami Fujisawa, Fujisawa City, Kanagawa Prefe...",046-123-4041,139.4896,35.33762,1521.0
36,S14021,Isehara store,14,Kanagawa Prefecture,"Isehara 4-chome, Isehara City, Kanagawa Prefec...",046-123-4035,139.3129,35.40169,962.0
37,S14047,Sagamihara store,14,Kanagawa Prefecture,"6-chome, Chiyoda, Sagamihara City, Kanagawa Pr...",042-123-4050,139.3748,35.55959,1047.0
38,S12013,Narashino store,12,Chiba prefecture,"1-chome Shibaen, Narashino City, Chiba Prefecture",047-123-4002,140.0220,35.66122,808.0
40,S14042,Niiyama Shinto store,14,Kanagawa Prefecture,"Shinyamashita 2-chome, Naka-ku, Yokohama-shi, ...",045-123-4047,139.6593,35.43894,1044.0
42,S12030,Yawata store,12,Chiba prefecture,"Yawata 3-chome, Ichikawa City, Chiba Prefecture",047-123-4005,139.9240,35.72318,1162.0
44,S14025,Yamato store,14,Kanagawa Prefecture,"Shimwada, Yamato City, Kanagawa Prefecture",046-123-4039,139.4680,35.43414,1011.0
45,S14045,Atsugi store,14,Kanagawa Prefecture,"2-chome Nakamachi, Atsugi City, Kanagawa Prefe...",046-123-4048,139.3651,35.44182,980.0
47,S12029,Higashino store,12,Chiba prefecture,"1-chome Higashino, Urayasu City, Chiba Prefecture",047-123-4004,139.8968,35.65086,1101.0
49,S12053,Takasu store,12,Chiba prefecture,"Takasu 5-chome, Urayasu City, Chiba Prefecture",047-123-4006,139.9176,35.63755,1555.0
51,S14024,Mita store,14,Kanagawa Prefecture,"Mita 4-chome, Tama-ku, Kawasaki City, Kanagawa...",044-123-4038,139.5424,35.60770,972.0
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

### Dữ liệu bị thiếu

In [19]:
# Đọc dữ liệu product
product_path = "../../data/preprocessed/product.csv"

dtype = {
    'product_cd': str,
    'category_major_cd': int,
    'category_medium_cd': int,
    'category_small_cd': int,
    'unit_price': float,
    'unit_cost': float
}
df_product = pd.read_csv(product_path, dtype=dtype)
print(df_product.shape)
df_product.head()

(10030, 6)

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,4,401,40101,198.0,149.0
1,P040101002,4,401,40101,218.0,164.0
2,P040101003,4,401,40101,230.0,173.0
3,P040101004,4,401,40101,248.0,186.0
4,P040101005,4,401,40101,268.0,201.0

In [20]:
df_product.isna().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

In [21]:
df_product[df_product.isna().any(axis=1)]

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
159,P040802007,4,408,40802,NaN,NaN
196,P050103021,5,501,50103,NaN,NaN
496,P050405009,5,504,50405,NaN,NaN
1531,P060802026,6,608,60802,NaN,NaN
2012,P070202092,7,702,70202,NaN,NaN
6296,P080504027,8,805,80504,NaN,NaN
7075,P090204185,9,902,90204,NaN,NaN

In [22]:
# Sử dụng .fill() để điền vào giá trị bị thiếu
unit_price_mean = df_product["unit_price"].mean()
print(f"Mean unit price: {unit_price_mean}")

df_product.loc[:, "unit_price"] = df_product["unit_price"].fillna(unit_price_mean)

Mean unit price: 402.57557617479796

In [23]:
df_product[df_product.isna().any(axis=1)]

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
159,P040802007,4,408,40802,402.575576,NaN
196,P050103021,5,501,50103,402.575576,NaN
496,P050405009,5,504,50405,402.575576,NaN
1531,P060802026,6,608,60802,402.575576,NaN
2012,P070202092,7,702,70202,402.575576,NaN
6296,P080504027,8,805,80504,402.575576,NaN
7075,P090204185,9,902,90204,402.575576,NaN

### Hàm do người dùng định nghĩa

In [24]:
# apply() Áp dụng một hàm tùy ý lên từng cột hoặc từng hàng của DataFrame hoặc Series.
def add_str(x):
    return "00" + str(x)

# df_store["prefecture_cd"].apply(add_str)
df_store["prefecture_cd"].apply(lambda x: "00" + str(x))

0     0012
1     0013
2     0014
3     0014
4     0014
5     0013
6     0013
7     0014
8     0013
9     0014
10    0013
11    0013
12    0014
13    0013
14    0013
15    0013
16    0014
17    0013
18    0014
19    0014
20    0014
21    0013
22    0014
23    0013
24    0013
25    0013
26    0014
27    0012
28    0014
29    0013
30    0013
31    0014
32    0014
33    0013
34    0013
35    0014
36    0014
37    0014
38    0012
39    0013
40    0014
41    0013
42    0012
43    0013
44    0014
45    0014
46    0013
47    0012
48    0013
49    0012
50    0013
51    0014
52    0014
Name: prefecture_cd, dtype: object

### Phương pháp làm việc với chuỗi

In [25]:
df_store["store_name"].str.lower()

0              chigakadai store
1              kokubunji temple
2                  kikuna store
3                   akuwa store
4      sagamihara central store
5          itabashi ohara store
6           southern sand store
7               nagatsuta store
8          minami -rokugo store
9             akuwa nishi store
10               komorone store
11                 morino store
12         futatsu bridge store
13               hatsudai store
14           higashikasai store
15           naka -rokugo store
16           honmaki wada store
17               sagimiya store
18             kitayamada store
19                  zushi store
20       hiyoshi honmachi store
21                koganei store
22        kawasaki nogawa store
23                  seijo store
24          jujo nakahara store
25      minami -shinagawa store
26          nakagawa chuo store
27                 sakura store
28     tsujido west coast store
29               hachioji store
30          koenji minami store
31        kawasaki daishi store
32               kawasaki store
33                 kiyose store
34          yoga 4 -chome store
35       minami -fujizawa store
36                isehara store
37             sagamihara store
38              narashino store
39           naka -rokugo store
40         niiyama shinto store
41          minamiogikubo store
42                 yawata store
43                   yoga store
44                 yamato store
45                 atsugi store
46              shirasagi store
47              higashino store
48                  komae store
49                 takasu store
50    minamisuna 1 -chome store
51                   mita store
52               kuzugaya store
Name: store_name, dtype: object

In [26]:
df_store["store_name"].str.upper()

0              CHIGAKADAI STORE
1              KOKUBUNJI TEMPLE
2                  KIKUNA STORE
3                   AKUWA STORE
4      SAGAMIHARA CENTRAL STORE
5          ITABASHI OHARA STORE
6           SOUTHERN SAND STORE
7               NAGATSUTA STORE
8          MINAMI -ROKUGO STORE
9             AKUWA NISHI STORE
10               KOMORONE STORE
11                 MORINO STORE
12         FUTATSU BRIDGE STORE
13               HATSUDAI STORE
14           HIGASHIKASAI STORE
15           NAKA -ROKUGO STORE
16           HONMAKI WADA STORE
17               SAGIMIYA STORE
18             KITAYAMADA STORE
19                  ZUSHI STORE
20       HIYOSHI HONMACHI STORE
21                KOGANEI STORE
22        KAWASAKI NOGAWA STORE
23                  SEIJO STORE
24          JUJO NAKAHARA STORE
25      MINAMI -SHINAGAWA STORE
26          NAKAGAWA CHUO STORE
27                 SAKURA STORE
28     TSUJIDO WEST COAST STORE
29               HACHIOJI STORE
30          KOENJI MINAMI STORE
31        KAWASAKI DAISHI STORE
32               KAWASAKI STORE
33                 KIYOSE STORE
34          YOGA 4 -CHOME STORE
35       MINAMI -FUJIZAWA STORE
36                ISEHARA STORE
37             SAGAMIHARA STORE
38              NARASHINO STORE
39           NAKA -ROKUGO STORE
40         NIIYAMA SHINTO STORE
41          MINAMIOGIKUBO STORE
42                 YAWATA STORE
43                   YOGA STORE
44                 YAMATO STORE
45                 ATSUGI STORE
46              SHIRASAGI STORE
47              HIGASHINO STORE
48                  KOMAE STORE
49                 TAKASU STORE
50    MINAMISUNA 1 -CHOME STORE
51                   MITA STORE
52               KUZUGAYA STORE
Name: store_name, dtype: object

### Kết hợp nhiều dữ liệu

#### concat()

In [27]:
df_tmp_1 = df_store.query("prefecture_cd == 12")
df_tmp_2 = df_store.query("prefecture_cd == 14")

In [28]:
df_tmp_2

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
19,S14022,Zushi store,14,Kanagawa Prefecture,"Zushi 1-chome, Zushi City, Kanagawa Prefecture",046-123-4036,139.5789,35.29642,1838.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0
22,S14034,Kawasaki Nogawa store,14,Kanagawa Prefecture,"Nogawa, Miyamae-ku, Kawasaki City, Kanagawa Pr...",044-123-4044,139.5998,35.57693,1318.0
26,S14048,Nakagawa Chuo store,14,Kanagawa Prefecture,"2-chome Nakagawa Chuo 2-chome, Tsuzuki-ku, Yok...",045-123-4051,139.5758,35.54912,1657.0
28,S14026,Tsujido west coast store,14,Kanagawa Prefecture,"2-chome, Tsujido, Fujisawa City, Kanagawa Pref...",046-123-4040,139.4466,35.32464,1732.0
31,S14049,Kawasaki Daishi store,14,Kanagawa Prefecture,"Nakase Sanchome, Kawasaki-ku, Kawasaki City, K...",044-123-4052,139.7327,35.53759,962.0
32,S14023,Kawasaki store,14,Kanagawa Prefecture,"2-chome Honmachi, Kawasaki-ku, Kawasaki-shi, K...",044-123-4037,139.7028,35.53599,1804.0
35,S14027,Minami -Fujizawa store,14,Kanagawa Prefecture,"Minami Fujisawa, Fujisawa City, Kanagawa Prefe...",046-123-4041,139.4896,35.33762,1521.0
36,S14021,Isehara store,14,Kanagawa Prefecture,"Isehara 4-chome, Isehara City, Kanagawa Prefec...",046-123-4035,139.3129,35.40169,962.0
37,S14047,Sagamihara store,14,Kanagawa Prefecture,"6-chome, Chiyoda, Sagamihara City, Kanagawa Pr...",042-123-4050,139.3748,35.55959,1047.0
40,S14042,Niiyama Shinto store,14,Kanagawa Prefecture,"Shinyamashita 2-chome, Naka-ku, Yokohama-shi, ...",045-123-4047,139.6593,35.43894,1044.0
44,S14025,Yamato store,14,Kanagawa Prefecture,"Shimwada, Yamato City, Kanagawa Prefecture",046-123-4039,139.4680,35.43414,1011.0
45,S14045,Atsugi store,14,Kanagawa Prefecture,"2-chome Nakamachi, Atsugi City, Kanagawa Prefe...",046-123-4048,139.3651,35.44182,980.0
51,S14024,Mita store,14,Kanagawa Prefecture,"Mita 4-chome, Tama-ku, Kawasaki City, Kanagawa...",044-123-4038,139.5424,35.60770,972.0
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

In [29]:
# Nối các bảng theo từng hàng với nhau
pd.concat([df_tmp_1, df_tmp_2])

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
27,S12007,Sakura store,12,Chiba prefecture,"Kamishizu, Sakura City, Chiba Prefecture",043-123-4001,140.1452,35.71872,1895.0
38,S12013,Narashino store,12,Chiba prefecture,"1-chome Shibaen, Narashino City, Chiba Prefecture",047-123-4002,140.0220,35.66122,808.0
42,S12030,Yawata store,12,Chiba prefecture,"Yawata 3-chome, Ichikawa City, Chiba Prefecture",047-123-4005,139.9240,35.72318,1162.0
47,S12029,Higashino store,12,Chiba prefecture,"1-chome Higashino, Urayasu City, Chiba Prefecture",047-123-4004,139.8968,35.65086,1101.0
49,S12053,Takasu store,12,Chiba prefecture,"Takasu 5-chome, Urayasu City, Chiba Prefecture",047-123-4006,139.9176,35.63755,1555.0
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
19,S14022,Zushi store,14,Kanagawa Prefecture,"Zushi 1-chome, Zushi City, Kanagawa Prefecture",046-123-4036,139.5789,35.29642,1838.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0
22,S14034,Kawasaki Nogawa store,14,Kanagawa Prefecture,"Nogawa, Miyamae-ku, Kawasaki City, Kanagawa Pr...",044-123-4044,139.5998,35.57693,1318.0
26,S14048,Nakagawa Chuo store,14,Kanagawa Prefecture,"2-chome Nakagawa Chuo 2-chome, Tsuzuki-ku, Yok...",045-123-4051,139.5758,35.54912,1657.0
28,S14026,Tsujido west coast store,14,Kanagawa Prefecture,"2-chome, Tsujido, Fujisawa City, Kanagawa Pref...",046-123-4040,139.4466,35.32464,1732.0
31,S14049,Kawasaki Daishi store,14,Kanagawa Prefecture,"Nakase Sanchome, Kawasaki-ku, Kawasaki City, K...",044-123-4052,139.7327,35.53759,962.0
32,S14023,Kawasaki store,14,Kanagawa Prefecture,"2-chome Honmachi, Kawasaki-ku, Kawasaki-shi, K...",044-123-4037,139.7028,35.53599,1804.0
35,S14027,Minami -Fujizawa store,14,Kanagawa Prefecture,"Minami Fujisawa, Fujisawa City, Kanagawa Prefe...",046-123-4041,139.4896,35.33762,1521.0
36,S14021,Isehara store,14,Kanagawa Prefecture,"Isehara 4-chome, Isehara City, Kanagawa Prefec...",046-123-4035,139.3129,35.40169,962.0
37,S14047,Sagamihara store,14,Kanagawa Prefecture,"6-chome, Chiyoda, Sagamihara City, Kanagawa Pr...",042-123-4050,139.3748,35.55959,1047.0
40,S14042,Niiyama Shinto store,14,Kanagawa Prefecture,"Shinyamashita 2-chome, Naka-ku, Yokohama-shi, ...",045-123-4047,139.6593,35.43894,1044.0
44,S14025,Yamato store,14,Kanagawa Prefecture,"Shimwada, Yamato City, Kanagawa Prefecture",046-123-4039,139.4680,35.43414,1011.0
45,S14045,Atsugi store,14,Kanagawa Prefecture,"2-chome Nakamachi, Atsugi City, Kanagawa Prefe...",046-123-4048,139.3651,35.44182,980.0
51,S14024,Mita store,14,Kanagawa Prefecture,"Mita 4-chome, Tama-ku, Kawasaki City, Kanagawa...",044-123-4038,139.5424,35.60770,972.0
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

#### merge()

In [30]:
# sử dụng merge() để join 2 hoặc nhiều bảng dữ liệu
left = pd.DataFrame({"key": ["A", "B", "C"], "lval": [1, 2, 99]})
display(left)

right = pd.DataFrame({"key": ["A", "B", "F"], "rval": [4, 5, 6]})
display(right)

  key  lval
0   A     1
1   B     2
2   C    99

  key  rval
0   A     4
1   B     5
2   F     6

In [31]:
# Inner Join
pd.merge(left, right, on="key", how="inner")

  key  lval  rval
0   A     1     4
1   B     2     5

In [32]:
# Left Join
pd.merge(left, right, on="key", how="left")

  key  lval  rval
0   A     1   4.0
1   B     2   5.0
2   C    99   NaN

In [33]:
# Right Join
pd.merge(left, right, on="key", how="right")

  key  lval  rval
0   A   1.0     4
1   B   2.0     5
2   F   NaN     6

In [34]:
# Outter Join
pd.merge(left, right, on="key", how="outer")

  key  lval  rval
0   A   1.0   4.0
1   B   2.0   5.0
2   C  99.0   NaN
3   F   NaN   6.0

### Nhóm (Groupby)

In [35]:
df_store.groupby("prefecture")["store_cd"].count()

prefecture
Chiba prefecture        6
Kanagawa Prefecture    23
Tokyo                  24
Name: store_cd, dtype: int64

In [36]:
df_store.groupby("prefecture").agg({"store_cd":"count"})

                     store_cd
prefecture
Chiba prefecture            6
Kanagawa Prefecture        23
Tokyo                      24

In [37]:
df_product.groupby("category_major_cd").agg({"unit_price":"sum",
                                             "unit_cost":"mean"})

                     unit_price   unit_cost
category_major_cd
4                  6.250258e+04  291.418750
5                  2.096112e+05  190.465371
6                  1.087816e+05  131.118971
7                  1.187285e+06  219.252215
8                  1.183056e+05  123.436893
9                  2.351348e+06  485.513350

### Pivot table

In [38]:
import numpy as np

df = pd.DataFrame(
    {
        "A": ["A", "B", "C"] * 4,
        "B": ["Tokyo", "Chiaba"] * 6,
        "C": np.random.randn(12),
        "D": np.arange(12),
    }
)

pd.pivot_table(df, values=["C", "D"], index=["A"], columns=["B"])

          C                D
B    Chiaba     Tokyo Chiaba Tokyo
A
A -0.981555  0.854736    6.0   3.0
B  0.758737  0.628854    4.0   7.0
C -0.504392  0.405358    8.0   5.0

### Chuỗi thời gian

In [39]:
# Tạo một chuỗi thời gian
date_range = [f"2024080{str(i)}" for i in np.arange(1,7)]

# Tạo DataFrame với chuỗi thời gian
df = pd.DataFrame({'date': date_range, 'value': range(6)})
print(df)

       date  value
0  20240801      0
1  20240802      1
2  20240803      2
3  20240804      3
4  20240805      4
5  20240806      5

In [40]:
# Chuyển đổi cột 'date' thành định dạng datetime
df['date'] = pd.to_datetime(df['date'], format="%Y%m%d")
print(df.dtypes)
df

date     datetime64[ns]
value             int64
dtype: object

        date  value
0 2024-08-01      0
1 2024-08-02      1
2 2024-08-03      2
3 2024-08-04      3
4 2024-08-05      4
5 2024-08-06      5

In [41]:
# Trích xuất năm, tháng, ngày từ cột 'date'
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
display(df)

        date  value  year  month  day
0 2024-08-01      0  2024      8    1
1 2024-08-02      1  2024      8    2
2 2024-08-03      2  2024      8    3
3 2024-08-04      3  2024      8    4
4 2024-08-05      4  2024      8    5
5 2024-08-06      5  2024      8    6

In [42]:
# Định dạng chuỗi thời gian thành chuỗi ký tự theo định dạng 'YYYY-MM-DD'
df['formatted_date'] = df['date'].dt.strftime('%Y/%m/%d')
display(df)

        date  value  year  month  day formatted_date
0 2024-08-01      0  2024      8    1     2024/08/01
1 2024-08-02      1  2024      8    2     2024/08/02
2 2024-08-03      2  2024      8    3     2024/08/03
3 2024-08-04      3  2024      8    4     2024/08/04
4 2024-08-05      4  2024      8    5     2024/08/05
5 2024-08-06      5  2024      8    6     2024/08/06

In [43]:
# Định dạng chuỗi thời gian thành chuỗi ký tự với các thành phần khác nhau
df['formatted_date_full'] = df['date'].dt.strftime('%A, %d %B %Y')
display(df)

        date  value  year  month  day formatted_date       formatted_date_full
0 2024-08-01      0  2024      8    1     2024/08/01  Thursday, 01 August 2024
1 2024-08-02      1  2024      8    2     2024/08/02    Friday, 02 August 2024
2 2024-08-03      2  2024      8    3     2024/08/03  Saturday, 03 August 2024
3 2024-08-04      3  2024      8    4     2024/08/04    Sunday, 04 August 2024
4 2024-08-05      4  2024      8    5     2024/08/05    Monday, 05 August 2024
5 2024-08-06      5  2024      8    6     2024/08/06   Tuesday, 06 August 2024

In [44]:
# Định dạng chuỗi thời gian thành chuỗi ký tự theo định dạng tùy chỉnh 'DD/MM/YYYY'
df['custom_formatted_date'] = df['date'].dt.strftime('%d/%m/%Y')
display(df)

,date,value,year,month,day,formatted_date,formatted_date_full,custom_formatted_date
0,2024-08-01,0,2024,8,1,2024/08/01,"Thursday, 01 August 2024",01/08/2024
1,2024-08-02,1,2024,8,2,2024/08/02,"Friday, 02 August 2024",02/08/2024
2,2024-08-03,2,2024,8,3,2024/08/03,"Saturday, 03 August 2024",03/08/2024
3,2024-08-04,3,2024,8,4,2024/08/04,"Sunday, 04 August 2024",04/08/2024
4,2024-08-05,4,2024,8,5,2024/08/05,"Monday, 05 August 2024",05/08/2024
5,2024-08-06,5,2024,8,6,2024/08/06,"Tuesday, 06 August 2024",06/08/2024

**Các định dạng thông dụng sử dụng trong strftime:**
* `%Y`: Năm đầy đủ (ví dụ: 2024)
* `%m`: Tháng (01 đến 12)
* `%d`: Ngày (01 đến 31)
* `%H`: Giờ (00 đến 23)
* `%M`: Phút (00 đến 59)
* `%S`: Giây (00 đến 59)
* `%A`: Tên đầy đủ của ngày trong tuần (ví dụ: Monday)
* `%B`: Tên đầy đủ của tháng (ví dụ: January)

### Lưu dữ liệu vào file csv hoặc excel

In [45]:
df

,date,value,year,month,day,formatted_date,formatted_date_full,custom_formatted_date
0,2024-08-01,0,2024,8,1,2024/08/01,"Thursday, 01 August 2024",01/08/2024
1,2024-08-02,1,2024,8,2,2024/08/02,"Friday, 02 August 2024",02/08/2024
2,2024-08-03,2,2024,8,3,2024/08/03,"Saturday, 03 August 2024",03/08/2024
3,2024-08-04,3,2024,8,4,2024/08/04,"Sunday, 04 August 2024",04/08/2024
4,2024-08-05,4,2024,8,5,2024/08/05,"Monday, 05 August 2024",05/08/2024
5,2024-08-06,5,2024,8,6,2024/08/06,"Tuesday, 06 August 2024",06/08/2024

In [46]:
df.to_csv("time_series_example.csv", index=False)

In [47]:
df.to_excel("time_series_example.xlsx", sheet_name="ts")